/*INTRO */

.developer {
  position: relative;
  width: 100%;
}

.intro {
  height: auto;
}

.max {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  font-weight: 1000;
}

.nav {
  position: fixed;
  top: 0dvh;
  z-index: 5;
  color: white;
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 1em;
  gap: 0.5rem;
}

.nav svg {
  width: 35px;
  height: auto;
}

.max-h1,
.developer-h2,
.location {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
}

.max-h1 {
  top: 50dvh;
  font-size: clamp(1.75rem, 4.5vw, 4.5rem);
  z-index: 2;
  color: white;
  white-space: nowrap;
}

.developer-h2 {
  top: 50dvh;
  font-size: clamp(2rem, 18vw, 16rem);
  z-index: 1;
  letter-spacing: -0.06em;
  color: rgb(24, 24, 24);
  line-height: 0.75em;
}

.location {
  bottom: 10vh;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
  color: #e3e3e3;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

.location svg {
  margin-top: 2px;
  margin-right: 1em;
  height: 1em;
  width: auto;
}

.intro-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a0a0a0;
  font-size: clamp(0.8rem, 1vw, 2rem);
  position: relative;
  padding: 1.5rem;
}

.intro-text h3 {
  opacity: 0;
  text-align: center;
}

.intro-text .pt2 {
  margin-top: 2rem;
  max-width: 40em;
}

.my-work {
  background-color: rgb(224, 224, 224);
  border-radius: 0.75em;
  font-weight: 500;
  font-size: clamp(1rem, 1vw, 2rem);
  padding: 0.5em 3em 0.5em 3em;
  color: rgb(54, 54, 54);
  margin-top: 5rem;
  opacity: 0;
  transition: 0.2s;
}

.my-work:hover {
  background-color: rgba(255, 255, 255, 1);
}

.email {
  position: absolute;
  bottom: 5dvh;
  opacity: 0;
}

/* PROJECTS */

.back {
  position: absolute;
  color: rgb(163, 163, 163);
  background-color: rgb(40, 40, 40);
  padding: 0.5em 2em 0.5em 2em;
  top: 1em;
  left: 1em;
  border-radius: 10px;
  transition: 0.2s;
  font-weight: 500;
}

.back:hover {
  background-color: rgb(47, 47, 47);
}

.animation {
  position: relative;
  width: 100vw;
  height: 2000svh;
  background-color: rgb(90, 154, 171);
  text-align: center;
}

.horizontal-scroll {
  display: flex;
  height: 100vh;
}

.panel {
  flex-shrink: 0;
  min-width: 100vw;
  height: 100dvh;
  display: inline-block;
  position: relative;
}

.one {
  background-color: rgb(155, 160, 192);
}

.waypoint {
  background-color: #1d1d1d;
}

/* HAKIM LIVS */

.hakimlivs {
  background-color: #121212;
  font-weight: 1000;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

.hakimlivs h1 {
  font-size: clamp(4rem, 8vw, 8vw);
  z-index: 2;
  margin-left: 4rem;
}

.hakimlivs h2 {
  z-index: 2;
  font-size: clamp(1.25rem, 2vw, 2vw);
  line-height: 1.1;
}

.hakim-mp4 {
  border-radius: 20px;
  height: auto;
  width: 70vw;
}

.hakimlivs .live-demo {
  left: 5rem;
}

.text-container {
  flex-basis: 65%;
  margin-right: 3rem;
}

.video-container {
  display: flex;
  justify-content: end;
}

.hakimlivs .content {
  display: flex;
  max-width: 100%;
  padding: 0rem 2rem 2rem 5rem;
  gap: 2rem;
}

.hakimlivs .tech-stack {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  font-weight: 700;
  color: rgb(231, 231, 231);
  font-size: 1.25rem;
  flex-wrap: wrap;
}

.tech-stack > * {
  padding: 8px 20px 10px 45px;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hakimlivs .date {
  bottom: 2.5rem;
  right: 2rem;
  position: absolute;
  font-weight: 500;
  font-size: 1rem;
  z-index: 2;
}

/*IOS PANEL*/

.ios {
  background-color: white;
  font-weight: 800;
  width: 100%;
}

.ios h1 {
  font-size: clamp(4rem, 6vw, 6vw);
  margin-left: 2rem;
  z-index: 10;
  position: relative;
}

.ios h2 {
  font-size: clamp(1.5rem, 2vw, 2vw);
  line-height: 1.1;
  z-index: 10;
  position: relative;
  max-width: 50%;
}

.ios .content {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
}

.lockscreen-1,
.lockscreen-2 {
  top: 10vh;
  right: 20vw;
  z-index: 1;

  max-width: min(30vw, 35vh);
  position: absolute;
}

.ios .date {
  bottom: 2.5rem;
  right: 2rem;
  position: absolute;
  font-weight: 500;
  font-size: 1rem;
}

.live-demo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  left: 2rem;
  bottom: 2rem;
  padding: 0.5rem;
  border-radius: 25px;
  font-weight: 600;
  width: clamp(120px, 10%, 175px);
  font-size: clamp(1rem, 1rem, 1.3rem);
  text-align: center;
  z-index: 10;
  opacity: 0;
}

.ios .tech-stack {
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
  margin-top: 1.5rem;
  position: relative;
  z-index: 5;
  opacity: 0.8;
}

.ios .tech-stack > :first-child {
  background-color: rgb(0, 0, 0);
  width: 125px;
}

.outro {
  width: 100px;
  height: 100px;
  z-index: 4000;
}

@media (max-width: 1100px) {
  .hakimlivs .content {
    flex-direction: column;
  }
  .hakimlivs .video-container {
    order: 1;
    justify-content: start;
  }
  .hakimlivs .text-container {
    order: 2;
    max-width: 90%;
  }

  .ios .content {
    flex-direction: column;
  }
  .ios .img-container {
    margin-top: 2rem;
  }

  .ios .img-container img {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .hakimlivs .content {
    padding-left: 2rem;
  }
  .hakimlivs .live-demo {
    left: 2rem;
  }
  .hakimlivs h1 {
    margin-left: 2rem;
  }
  .ios h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .ios h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .ios h2 {
    max-width: 90%;
  }
  .lockscreen-1,
  .lockscreen-2 {
    top: 25%;
  }
  .tech-stack > * {
    font-size: 1rem;
    padding-left: 40px;
    padding-right: 15px;
  }
  .tech-stack > div > svg {
    width: 20px;
    height: 20px;
  }

  .ios .tech-stack > :first-child {
    width: 100px;
  }

  .location {
    bottom: 25dvh;
  }
}

@media (max-width: 400px) {
  .ios h1 {
    font-size: 2rem;
  }
  .ios h2 {
    font-size: 1rem;
  }
}
