/*INTRO */

.developer {
  position: relative;
  width: 100%;
}

.intro {
  height: auto;
}

.max {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  font-weight: 1000;
}

.nav {
  position: fixed;
  top: 0dvh;
  z-index: 5;
  color: white;
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 1em;
  gap: 0.5rem;
}

.nav svg {
  width: 35px;
  height: auto;
}

.max-h1,
.developer-h2,
.location {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
}

.max-h1 {
  top: 50dvh;
  font-size: clamp(1.75rem, 4.5vw, 4.5rem);
  z-index: 2;
  color: white;
  white-space: nowrap;
}

.developer-h2 {
  top: 50dvh;
  font-size: clamp(2rem, 18vw, 16rem);
  z-index: 1;
  letter-spacing: -0.06em;
  color: rgb(24, 24, 24);
  line-height: 0.75em;
}

.location {
  bottom: 10vh;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 400;
  color: #e3e3e3;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

.location svg {
  margin-top: 2px;
  margin-right: 1em;
  height: 1em;
  width: auto;
}

.intro-text {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a0a0a0;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  position: relative;
  padding: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.intro-text h3 {
  opacity: 0;
  text-align: center;
}

.intro-text .pt2 {
  margin-top: 2rem;
  max-width: 40em;
}

.my-work {
  position: absolute;
  bottom: 20%;
  font-weight: 500;
  border-radius: 10px;
  background-color: white;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  padding: 0.3em 2em 0.35em 2em;
  color: #111111;
  opacity: 0;
  transition: 0.2s;
}

.my-work:hover {
  background-color: #b9b9b9;
}

.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}
.tech-stack-icons {
  gap: clamp(1rem, 3.5vw, 2rem);
  display: flex;
}

.tech-stack-icons svg {
  width: clamp(25px, 4vw, 45px);
  height: auto;
  opacity: 0;
}

.tech-stack {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  font-weight: 700;
  color: rgb(231, 231, 231);
  font-size: 1.25rem;
  flex-wrap: wrap;
}

.tech-stack > * {
  padding: 8px 20px 10px 45px;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.email {
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #a0a0a0;
  opacity: 0;
}
/* PROJECTS */

.animation {
  position: relative;
  width: 100vw;
  height: 2000svh;
  background-color: rgb(90, 154, 171);
  text-align: center;
}

.horizontal-scroll {
  display: flex;
  height: 100vh;
}

.panel {
  flex-shrink: 0;
  min-width: 100vw;
  height: 100dvh;
  display: inline-block;
  position: relative;
}

.one {
  background-color: rgb(155, 160, 192);
}

.outro {
  width: 100px;
  height: 100px;
  z-index: 4000;
}

@media (max-width: 500px) {
  .tech-stack > * {
    font-size: 1rem;
    padding-left: 40px;
    padding-right: 15px;
  }
  .tech-stack > div > svg {
    width: 20px;
    height: 20px;
  }

  .location {
    bottom: 25dvh;
  }
}
